# Arxius generats per Eclipse
.classpath
.project
.settings/

# Carpeta de sortida dels fitxers de construcció (compilació)
bin/

# Carpeta de dependències gestionades per Maven
target/
.m2/

# Fitxers de configuració específics del sistema o de l'usuari
.DS_Store
.metadata/

# Fitxers de logs o temporals
*.log
*.tmp
